* {
  box-sizing: border-box;
}

:root {
  --header-height: 84vh;
  --hover-img-size: 9.85vw;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
  font-family: Inter, Montserrat;
  margin: 0px;
  background-color: #333333;
  /* background-image: url("background_small.jpg"); */
  background-repeat: no-repeat;
  background-size: contain;

}

.horizontal-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.background-img {
  position: absolute;
  z-index: -100;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.header img {
  position: relative;
  display: block;
  height: 35vw;
  width: auto;
}

@media screen and (min-width: 3500px) {
  body {
    background-image: url("background_big.jpg");
  }
}

h1 {
  font-size: 55px;
  color:#F24535;
  font: Inter;
}

h2 {
  font-size: 200%;
  color:#EA502E;
  font: Inter;
}

p {
  font-size: 30px;
  color: white;
  font: Inter;
}

a:link {
  color: #F24535;
}

/* visited link */
a:visited {
  color: green;
}

#navbar {
  overflow: hidden;
  padding: 20px 10px;
  transition: 0.4s;
  position: fixed;
  top: 0;
  z-index: 99;
  border-radius: 6px;
}

.header {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.83);
  margin: 8vh;
  height: var(--header-height);
}

.set-text {
  position: relative;

  color: white;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 35px;
}

.button {
  padding: 8px;
  font-size: 35px; 
  border-radius: 4px;
  background-color: rgba(0,0,0,0);
  border: none;
  color: white;
  
  font-family: Montserrat;
  font-weight: bold;
}

.button-align-left {
  text-align: left;
  width: 100%;
}

.button:hover {
  background-color: #EA502E;
}

.header-right {
  float: right;
  padding: 3vh;
}

.container {
  padding: 7vh;
  padding-top: 2vh;
  background-color: #222222;
}

.light-container {
  padding: 1vh;
  padding-top: 2vh;
  background-color: #3D3D3D;
  
}

.hover-container {
  background-color: white;
  transition: transform .2s;
}

.hover-bigzoom:hover {  
  -ms-transform: scale(1.8); /* IE 9 */
  -webkit-transform: scale(1.8); /* Safari 3-8 */
  transform: scale(1.8);
}

.hover-smallzoom:hover {  
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.hover-hugezoom:hover {  
  -ms-transform: scale(2.9); /* IE 9 */
  -webkit-transform: scale(2.9); /* Safari 3-8 */
  transform: scale(2.9);
}

.small-image-container {
  width: var(--hover-img-size);
  height: var(--hover-img-size);
  padding: 2px;
}

.small-image-container:hover .image-text {
  opacity: 1;
}

.small-image-container:hover .image {
  opacity: 0.6;
}

.small-image-container:hover .less-opaque-image {
  opacity: 0.3;
}

.big-image-container {
  width: calc(var(--hover-img-size) * 2);
  height: calc(var(--hover-img-size) * 2);
  padding: 2px;
}

.big-image-container:hover .image-text {
  opacity: 1;
}

.big-image-container:hover .image {
  opacity: 0.6;
}

.big-image-container:hover .less-opaque-image {
  opacity: 0.3;
}

.image-fit {
  width:120px;
  height:100%;
  object-fit: contain;
}

.less-opaque-image:hover {
  opacity: 0.3;
}

.image-text {
  position: absolute;
  opacity: 0;
  top: 45%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.column {  
  border: 2px solid #222222;
  margin-top: 1%;
  text-align: center;
  float: left;
  padding-left: calc(2vw/1.92);
  padding-right: calc(2vw/1.92);
  min-height: 100vh;
}

.colum-amt-2 {
  width: 46%;
}

.colum-amt-4 {
  width: 23%;
}

.row:after {
  width: 3%;
  content: "";
  display: table;
  clear: both;
}

.vertical-box {
  background-color: #222222;
  padding: 0.5vh;
  border: 1px solid black;
}

.vertical-box:hover {
  border: 1px solid #F24535;
}

.animation-container {
  position: absolute;
  left: 26vw;
  bottom: 20vh;
  width: 400vw;
}

#slide-title {
  font-size: 4vw;

  position: relative;
  overflow: hidden;
  left: 500px;
  opacity: 0%;
  animation: slide 0.3s forwards;
}
/*

TODO: FIX SPAGHETTI CODE

*/

.slide-subheading {
  font-size: 3vw;
  position: relative;
  overflow: hidden;
  opacity: 0%;
  animation: slide 0.3s forwards;
  left: 4%; /*animation left, not text left*/
  margin-left: 5vw;
}

#slide-subheading-delay1 {
  animation-delay: 0.15s;
}

#slide-subheading-delay2 {
  animation-delay: 0.25s;
}

#slide-subheading-delay3 {
  animation-delay: 0.35s;
}

#slide-subheading-delay4 {
  animation-delay: 0.45s;
}

@keyframes slide {
  100% { opacity: 100%; left: 0; }
}

.hide-on-tall-screen {
  visibility: visible;
}

/*
  change layout for mobile/tall screens
*/
@media (max-aspect-ratio: 1) {
  :root {
    --hover-img-size: 10.29vw;
  }
  .header {
    margin: 0px;
    background-color: rgba(0,0,0,0.7);
  }
  .set-text {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.83);
  }
  .header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: vh;
    height: 80vw;
    top: 6%;
  }
  .background-img {
    height: var(--header-height);
  }
  .animation-container {
    left: 2vw;
    bottom: 20vh;
    width: 200vw;
  }
  .small-image-container {
    width: calc(var(--hover-img-size) * 2);
    height: calc(var(--hover-img-size) * 2);
  }
  .big-image-container {
    width: calc(var(--hover-img-size) * 4);
    height: calc(var(--hover-img-size)  * 4);
  }
  .hide-on-tall-screen {
    display: none;
  }
  .fit-to-tall-screen {
    width: 46%;
  }
  #slide-title {
    font-size: 8vw;
  }
  .slide-subheading {
    font-size: 6.5vw;
  }
}
